@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Crie e Liste todos os seus contatos  <a asp-area="" asp-page="/Contatos/Index">aqui.</a>.</p>
</div>
